 /* Add some basic styles for the cards */
 body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('signup.png') no-repeat center center fixed; 
    background-size: cover; /* Make the background cover the entire page */
    color: #414141; /* Default text color (Dark Gray) */
    line-height: 1.6;
    background-color: #212121;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}
.rides-page {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #212121;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #fffbfb;
}
.ride-card {
    margin: 15px 0;
    padding: 15px;
    background-color: #2b2d2e; /* Light grey background for the ride card */
    border-radius: 8px;
    border: 1px solid #2b2d2e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.ride-info span {
    display: block;
    font-size: 1em;
    color: #fffbfb;
    margin-bottom: 10px; /* Space between info and button */
}

.ride-status {
    font-weight: bold;
    margin-top: 10px;
}
.ride-status.upcoming {
    color: rgb(23, 197, 23);
}
.ride-status.completed {
    color: rgb(255, 21, 0);
}